<% layout('authPages/layouts/boilerplate') %>
<div class="loginBox">
    <h1 class="text-center font-monospace mb-4">Sign up</h1>
    <div class="signup">
        <a href="/signup?type=doctor" class="btn btn-light category">Doctor</a>
        <a href="/signup?type=patient" class="btn btn-light category">Patient</a>
    </div>
    <h1 class="font-monospace text-center mb-4">Log in</h1>
    <form class="needs-validation" novalidate>
        <div class="form-group">
            <input type="text" class="form-control" id="usernameInput" placeholder="Enter username" name="username" required >
            <div class="invalid-feedback">
                Please choose a username.
            </div>
        </div>
        <div class="form-group">
            <input type="password" class="form-control text-white" id="passwordInput" placeholder="Enter Password" name="password" required >
            <div class="invalid-feedback">
                Please choose a password.
            </div>
        </div>
        <div class="links">
            <p><a href="/forgot" style="font-size: 0.8rem;" class="text-white">Forgot Password?</a></p>
        </div>
        <button type="submit" class="btn btn-light w-100 mb-4" style="border-radius: 10px;">Submit</button>
        
    </form>
</div>