<% layout('authPages/layouts/boilerplate') %>
<div class="create">
    <% if(type == 'patient'){ %>
        <h1>Hello Patient</h1>
    <% } %>
    <% if(type == 'doctor'){ %>
        <h1>Hello Doctor</h1>
    <% } %>
</div>