<% layout('Home/layouts/boilerplate') %>
<div class="content">
    <div class="sendMessage">
        <h1 class="mb-4 opacity-50">Send Message</h1>
            <form>
                <div class="form-group">
                    <label for="inputName">Enter Name</label>
                    <input type="text" class="form-control" id="contactName" placeholder="Enter your Full Name">
                </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="contactEmail">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="contactnumber">Mobile Number</label>
                    <input type="number" class="form-control" id="contactnumber" placeholder="Enter your Phone Number" name="contactNumber">
                </div>
                <div class="form-group">
                    <label for="contactM">Message</label>
                    <textarea class="form-control messageBox" id="contactM" rows="3" name="contactMessage" placeholder="Enter your Message" style="background: transparent; border: 0.5px solid white; border-radius: 15px;"></textarea>
                </div>
                <button type="submit" class="btn btn-light w-100" style="border-radius: 15px;">Submit</button>
                </form>
    </div>
    <div class="displayContact">
            <div class="header w-100 h-15">
                <h1 class="opacity-50">Contact Us</h1>
                <p style="opacity: 0.5;">Feel free to reach out through any of these channels</p>
            </div>     
            <div class="contactInformation mt-4">
                <div class="eachInfo w-100">
                    <i class="fa-solid fa-envelope mt-1" style="color: white;"></i>
                    <div class="text">
                        <p>Email Adress <br> customdomain.08@gmail.com</p>
                    </div>
                </div>
                <div class="eachInfo">
                    <i class="fa-solid fa-phone" style="color: white;"></i>
                    <div class="text">
                        <p>Phone Number <br> +91 7340532228</p>
                    </div>
                </div>
                <div class="eachInfo">
                    <i class="fa-solid fa-location-dot" style="color: white;"></i>
                    <div class="text">
                        <p>Address <br> Vellore Institute of Technology, Chennai</p>
                    </div>
                </div>
                <div class="each" style="border-top: 0.5px solid white;">
                    <h5 style="text-align: center;" class="mt-4">Connect with Me</h5>
                    <div class="logos" style="width: 100%; height: 15px; display: flex; flex-wrap: nowrap; justify-content: center;">
                        <a href="https://www.instagram.com/_harshitshekhawat/"><i class="fa-brands fa-instagram mt-3"></i></a>
                        <a href="https://x.com/harshitsingh_2?s=21"><i class="fa-brands fa-x-twitter mt-3"></i></a>
                        <a href="https://github.com/lawapaul"><i class="fa-brands fa-github mt-3"></i></a>
                    </div>
                </div>
            </div>       
    </div>
</div>