body {
    min-height: 100vh;
    margin: 0;
    padding: 0;

}
.box{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginBox{
    width: 500px;
    height: 330px;
    border: 2px solid black;
}

